@font-face {
  font-family: 'AdobeClean';
  src: url('../fonts/AdobeClean-Bold.woff') format('woff');
  // url('/assets/fonts/bernierregular-regular-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'AdobeClean';
  src: url('../fonts/AdobeClean-Regular.woff') format('woff');
  // url('/assets/fonts/bernierregular-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'AdobeClean';
  src: url('../fonts/AdobeClean-Light.woff') format('woff');
  // url('/assets/fonts/bernierregular-regular-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}