.map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.formmap{
  width: 488px;
  padding: 45px;
  background-color: $white;
  position: absolute;
  z-index: 10;
  top: 157px;
  .formmap__control{
    width: 100%;
    margin-bottom: 40px;
  }
}